root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,gradle,js,jsx,ts,tsx,json,yml,yaml,css,md}]
indent_style = space
indent_size = 2

[*.java]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[{gradlew.bat,*.ps1}]
end_of_line = crlf

